<!DOCTYPE html>
<html>
  <head>
    <title>PoroSnax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta property="og:title" content="PoroSnax">
    <meta property="og:image" content="<%= image_url('porosnax-homepage.png') %>">
    <meta property="og:description" content="E-commerce site for baked goods inspired by Porto's Bakery. Users may purchase baked goods online and see their order history.">
    <meta property="og:url" content="https://porosnax.herokuapp.com/#/">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <%# <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="app/assets/images/favicon.ico" type="image/x-icon"> %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
